<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 VisualizeUrSelf S.r.l. Tutti i diritti riservati.</p>
      <nav class="footer-links">
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-service">Termini di Servizio</a></li>
          <li><a href="/contact">Contatti</a></li>
          <li><a href="https://github.com/NotSoupCarry/VisualizeUrSelf">Github</a></li>
        </ul>
      </nav>
    </div>
  </footer>