/* Contenitore principale */
.index {
    min-height: 76.8vh; /* Assicura che il contenitore occupi almeno l'altezza della finestra */
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: center; /* Allinea il contenuto in alto */
    align-items: stretch; /* Allinea gli elementi figli per occupare tutta la larghezza */
    box-sizing: border-box; /* Include padding e bordi nella larghezza totale */
    margin: 50px;
    padding: 0;
  }