.datiutente-container {
  max-width: 1000px; /* Aumenta la larghezza massima */
  width: 46.25%; /* Puoi anche impostare una percentuale per adattarlo al contenitore genitore */
  margin: 20px 2.5%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  float: left;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-save {
  background-color: #007bff;
  color: white;
  margin-top: 10px;
}

.btn-save:hover {
  background-color: #0056b3;
}

.dati-salvati {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #e9f7ef;
  font-size: 16px;
}

.dati-salvati p {
  margin: 10px 0;
  color: #333;
}

.dati-salvati strong {
  font-weight: bold;
  color: #000;
}