<!-- <div class="login-container">
  <h2>Login</h2>
  <form class="login-form" (submit)="login($event)">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Inserisci l'username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Inserisci la tua password"
      />
    </div>

    <button type="submit" class="submit-button">Accedi</button>
  </form>
</div>  -->

<div class="wrapper">
  <div class="form-header">
    <div class="titles">
      <div class="title-login">Login</div>
    </div>
  </div>
  <form class="login-form" (submit)="login($event)">
    <div class="input-box">
      <input
        type="text"
        class="input-field"
        [(ngModel)]="username"
        id="username"
        required
      />
      <label for="username" class="label">username</label>
      <i class="bx bx-user-circle icon"></i>
    </div>
    <div class="input-box">
      <input
        type="password"
        class="input-field"
        [(ngModel)]="password"
        id="password"
        required
      />
      <label for="password" class="label">password</label>
      <i class="bx bxs-lock-alt icon"></i>
    </div>
    <div class="form-cols">
      <div class="col-1"></div>
    </div>
    <div class="input-box">
      <button class="btn-submit" id="signInBtn" type="submit">
        Accedi <i class="bx bx-log-in-circle"></i>
      </button>
    </div>
    <div class="switch-form">
      <span>non hai un account? <a href="/register">Registrati</a></span>
    </div>
  </form>
</div>
