<!-- <div *ngIf="isAuthenticated"> 
  <div class="navbar">
   
    <div class="logo" (click)="toggleSidebar()">
      <img src="favicon.ico" alt="Logo" class="logo-img" />
    </div>

    
    <div class="sidebar" [class.open]="isSidebarOpen">
      <ul>
        <li><button (click)="isSidebarOpen = false">X</button></li>
        <li *ngIf="isRoleUser"><button (click)="onProfileClick()">Profilo</button></li>
        <li *ngIf="isRoleUser"><button >Tasks Del Giorno</button></li>
        <li *ngIf="isRoleUser"><button (click)="onTasksClick()">Le Tue Tasks</button></li>

        <li *ngIf="isRoleAdmin"><button (click)="onTasksDelGiornoClick()">Gestisci Tasks del Giorno</button></li>

        <li><button (click)="onLogoutClick()">Logout</button></li>
      </ul>
    </div>
  </div>
</div>  -->

<div *ngIf="isAuthenticated">
  <div class="navbar">
    <div class="logo" (click)="toggleSidebar()">
      <img src="favicon.ico" alt="Logo" class="logo-img" />
    </div>

    <!-- Sidebar -->
    <div class="sidebar" [class.open]="isSidebarOpen">
      <ul>
        <li>
          <button class="btn" (click)="isSidebarOpen = false">X</button>
        </li>
        <li *ngIf="isRoleUser">
          <button class="btn" (click)="onProfileClick()">Profilo</button>
        </li>
        <li *ngIf="isRoleUser">
          <button class="btn">Tasks Del Giorno</button>
        </li>
        <li *ngIf="isRoleUser">
          <button class="btn" (click)="onTasksClick()">Le Tue Tasks</button>
        </li>

        <li *ngIf="isRoleAdmin">
          <button class="btn" (click)="onTasksDelGiornoClick()">
            Gestisci Tasks del Giorno
          </button>
        </li>

        <li>
          <button class="btn" (click)="onLogoutClick()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</div>
